$color: #00C99C;
$black: #333;
$white: white;
// $bgColor: #ebf0f0;
$bgColor: #F6F8FA;
$lightBlack: #777;
$orange: #FD6179;
$blue: #1f7ae2;
$purple: #4E5BDE;
$regular: #A2A2A2;
$success: #0E5648;
$lightBlack: #565656;
$pink: #E00885;
