.call-to-action {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        li {
            margin-bottom: 10px;
            &:hover {
                margin-right: 10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .action {
                height: 65px;
                width: 65px;
                line-height: 65px;
                background-color: #E00D85;
                color: white;
                text-align: center;
                transition: all .3s linear;
            }
        }
    }
}
